.THIS.fielo-card-container {
    color: #54698D;
    max-width: 753px;
    padding: 0px;
}

.THIS .FieloELRCardItem{
    padding: 0px;
}

.THIS .table .slds-card__header {
    padding-bottom: 35px;
    padding-top: 35px;
}

.THIS .table div[data-field-name="FieloELR__Description__c"] {
    position: absolute;
    top: 94px;
    left: 358.2px;
}

.THIS .table div[data-field-name="FieloELR__StartDate__c"] {
    position: absolute;
    top: 198px;
    left: 358.2px;
}

.THIS .slds-card .slds-card__header h2{
    font-weight: bold;
}

.THIS .table .FieloELRFieldsSection {
    padding-top: 0px;
}

.THIS .slds-grid .slds-p-around_small {
    padding: 0px;
}

.THIS .slds-text-heading_small {
    font-size: 18px;
}

.THIS .grid .slds-grid div:first-child .subcomponent {
    padding: 0px;
}

.THIS .table .slds-card__body {
    height: 251;
    width: 100%
}

.THIS .slds-card__footer {
    max-height: 92.5px;
    width: 100%;
}

.THIS .slds-card__body .fielo-layout__item {
    width: 100%;
}