.THIS {
    color: #54698D;
}

.THIS .table .FieloELRFieldsSection {
    padding-top: 0px;
}

.THIS .slds-grid .slds-p-around_small {
    padding: 0px;
}


.THIS .grid .slds-grid div:first-child .subcomponent {
    padding: 0px;
}

.THIS .table .slds-card__body {
    height: 251;
    width: 100%
}


.THIS .slds-card__footer {
    max-height: 92.5px;
    width: 100%;
}

.THIS .slds-card__body .fielo-layout__item {
    width: 100%;
}

.THIS .fielo-course-card .slds-card{
    padding: 0px;
}

.THIS .fielo-closed-course .slds-card{
    background-color: #F4F6F9;
}

.THIS .slds-card__header{
    display: none;
}

/* CSS Grid Card Implementation  */
.THIS .FieloELRCardItem .slds-p-around_small{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 2fr 1fr 1fr;
}

.THIS .FieloELRCardItem .slds-p-around_small .fielo-output:first-child{
    grid-column: 1/6;
    grid-row: 1/3;
    width: 100%;

}

.THIS .FieloELRCardItem .slds-p-around_small .fielo-output:nth-child(2) {
    grid-column: 6/13;
    grid-row: 1/2;
}

.THIS .FieloELRCardItem .slds-p-around_small .fielo-output:nth-child(3){
    grid-column: 7/12;
    grid-row: 2/3;
}

.THIS .FieloELRCardItem .slds-p-around_small .fielo-output:nth-child(4){
    grid-column: 1/13;
    grid-row: 3/4;
    width: 100%;
}

.THIS .FieloELRCardItem .fielo-section-layout{
    height: 4rem;
}

@media(min-width: 48em){
    .THIS .FieloELRCourseDetails .FieloELRCardItem{
        width: 100%;     
    }
}

.THIS .fielo-card-container {
    max-width: 753px;
    padding: 0px;
}

.THIS .fielo-course-container {
    padding: 0px;
}

.THIS .FieloELRCardItem {
    padding: 0px;
}

.THIS {
    max-width: 753px;
}

.THIS .slds-p-around_small{
    padding-left: 0px;
    padding-right: 0px;
}


.THIS .fielo-breadcrumb__current{
    padding-left: 0.5rem;
}

.THIS .slds-card{
    border-radius: 0.6rem;
}

/* CSS Grid Field Section Implementation */

.THIS .fielo-section-layout{
    display: grid;
    grid-template-columns: repeat(10, 1fr );
    grid-gap: 0.5em;
    width: 100%;
}


.THIS .fielo-section__field:first-child{
    grid-column: 1/2;
    padding-left: 15px;
}

.THIS .fielo-section__field:nth-child(2){
    grid-column: 2/4;
}

.THIS .fielo-section__field:nth-child(3){
    grid-column: 4/5;
    min-width: 100px;
}

.THIS .slds-progress-bar_large{
    width: 85%;
}

.THIS .slds-form-element__label {
    font-size: 0.85rem;
    margin-bottom: 0.3rem;
}

.THIS .fielo-section__field-value{
    font-size: 18px;
}

.THIS .fielo-section__field{
    min-height: 4rem;
    padding-top: 5px;
}

/* End Field Section */

/* DATE COMPONENT NULL */

.THIS .no-date .table .slds-card__body div[data-field-name="FieloELR__Description__c"]{
	margin-top: 50px;
    grid-row: 1/3;
}

.THIS .no-date .table .slds-card__body div[data-field-name="FieloELR__StartDate__c"]{
	display:none;
	height: 0px;
    overflow: hidden;
}

/*DESCRIPTION NULL */

.THIS .no-description .table .slds-card__body div[data-field-name="FieloELR__Description__c"]{
	display:none;
    height: 0px;
    overflow: hidden;
}
.THIS .no-description .table .slds-card__body div[data-field-name="FieloELR__StartDate__c"]{
	margin-top: 60px;
    grid-row: 1/3;
}