.THIS .inline{
    display: inline;
}

.THIS.disabled{
    pointer-events:none;
}

.THIS.question.disabled{
    /* padding: 15px; */
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.THIS input[type="checkbox"]{
    float: left;
    margin-right: 5px;
    margin-top: 3px;
}

.THIS input[type="radio"]{
    float:left;
    margin-top:4px;
}

.THIS .matchingAnswer{
    float:left;
    margin-right:5px;
    max-width: 30px;
    padding: 0 5px;
    text-align:center;
}

.THIS .matchingOptionsLabel{
    vertical-align: -webkit-baseline-middle;        
}

.THIS .slds-form-element {
    max-width: 75%;
}

.THIS .fielo-question--matching-options .slds-form-element {
    max-width: unset;
}


.THIS .fielo-question-content--hidden{
    display: none;
}

.THIS .fielo-question--matching-options .slds-form-element__label{
    display:none;
}

.THIS .fielo-matching-text-container .fielo-matching-text{
    margin-top: 5px;
    margin-bottom: 5px;
}

.THIS .fielo-answer-option-container lightning-input{
    margin-top: 5px;
    margin-bottom: 5px;
}

.THIS .fielo-answer-option-id-container {
    display: none;
}

.THIS .fielo-disabled-checkbox .slds-checkbox_faux{
    background-color: rgb(233, 234, 236);
}

.THIS .slds-form-element__label{
    color: unset;
    font-size: 1rem;
}