.THIS.fielo-section {
    padding-top: 0px;
}

.THIS .fielo-section-layout {
    color: #FFFFFF;
    height: 50px;
}

.THIS .fielo-section--scheduled {
    background-color: #FFB75D;
}

.THIS .fielo-section--active {
    background-color: #1589EE;
}

.THIS .fielo-section--completed {
    background-color: #54698D;
}

.THIS .fielo-section--finished {
    background-color: #4BCA81;
}

.THIS .fielo-section__field {
    text-align: left;
    padding-left: 8px;
}

.THIS .slds-form-element__label{
    color: #FFFFFF;
}

.THIS .slds-form-element__label{
    width: 100%;
    height: 100%;
}

.THIS .fielo-section__field-value{
    width: 100%;
    height: 100%;
    text-align: left;
}

.THIS .fielo-progress-container {
    width: 100%;    
}

.THIS .fielo-progress-container .fielo-progress-bar{
    width: 50%;
}

.THIS .fielo-progress-value {
    padding-left: 3px;
}

.THIS .slds-progress-bar__value {
    background-color: #04844B;
}

.THIS .fielo-section__field-value .slds-button {
    padding-bottom: 7px;
}

.THIS .not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: #04844B;
}

.THIS .fielo-section--completed .not-active{
    color: white;
}