.fielosf-draggable {}

.fielosf-draggable__grip{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==) no-repeat 3px 50%;
}

.fielosf-draggable__grip--green {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QYIDS4hFI416QAAAC5JREFUKM/tzMENACAMw0CHvfnA4O4AVEzQPK3owkEAt8mNAItmUZ/YP8cc82sWrIdBIb8cp9cAAAAASUVORK5CYII=) no-repeat 3px 50%;
}

.fielosf-draggable__cursor {
	cursor:move;
}

.fielosf-draggable__item{ }