.THIS .slds-card__header{
    text-align: left;
}
.THIS .slds-card__footer{
	background-color: #f4f6f9;
    padding-top: 0.75rem;
    text-align: center;
}

.THIS .slds-card{
	border-color: #D8DDE6;
    box-shadow: 0px 3px 5px #D8DDE6;
    font-size: 14px;
}

.THIS .slds-card{    
    color: #54698D;
}

.THIS .slds-card .slds-text-heading--small{
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    display: block;
}

.THIS .slds-card__body{
    margin-bottom: 0;
}

.THIS .slds-card__footer{
    margin-top: 0;
}

.THIS .slds-card__footer .fielo-output{
    display: inline-block;
    margin-left: 10px;
}

.THIS .slds-card img{
    max-width: 100%;
}

.THIS .table .slds-card__footer, .THIS .Table .slds-card__footer{
    text-align: right;
}
.THIS .slds-card__body .FieloPLTOutputField{
    text-align: left;
}

.THIS .grid .item:not(.image) {
    padding: 10px;
}

.THIS .view img{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.THIS .view .slds-card__header{
    display:none;
}

.THIS .slds-card__header{
    margin-bottom: 0;
    padding-bottom: 12px;
    border-bottom: 1px solid #d8dde6;
}